<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Love Chicken</title>
    <link rel="stylesheet" href="asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="asset/css/responsive.css" type="text/css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vueshop doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
   <!-- Js Plugins -->
   <script src="asset/js/jquery-3.3.1.min.js"></script>
   <script src="asset/js/bootstrap.min.js"></script>
   <script src="asset/js/jquery.nice-select.min.js"></script>
   <script src="asset/js/jquery-ui.min.js"></script>
   <script src="asset/js/jquery.slicknav.js"></script>
   <script src="asset/js/mixitup.min.js"></script>
   <script src="asset/js/owl.carousel.min.js"></script>
   <script src="asset/js/main.js"></script>
</html>
