@media (max-width:990px) {
    .header__cart{
        position: absolute;
        right: 15px;
        top: -10px;
    }
    .header__logo a img {
        width: 90px;
        position: relative;
        top: -15px;
    }
    .hero__text h2{
        font-size: 42px;
    }
    .header__logo{
        padding: 0px;
    }
}

@media (min-width: 600px) and (max-width:990px) {

    .shoping-cart .container{
        max-width: 640px;
    }
}