<template>
  <div id="checkout">
        <!-- Page Preloder -->
    <!-- <div id="preloder">
      <div class="loader"></div>
    </div> -->
   <Header></Header>
    <section
      class="breadcrumb-section set-bg"
      data-setbg="asset/img/breadcrumb.jpg"
      style="background-image: url('asset/img/breadcrumb.jpg');"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>Shopping Cart</h2>
              <div class="breadcrumb__option">
                <a href="./index.html">Home</a>
                <span>Shopping Cart</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Header Section End -->
    <section class="shoping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="shoping__cart__table">
              <table>
                <thead>
                  <tr>
                    <th class="shoping__product">Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="shoping__cart__item">
                      <img src="asset/img/featured/ayam-pilet-02-bg.png" alt="" />
                      <h5>Ayam Fillet Segar</h5>
                    </td>
                    <td class="shoping__cart__price">
                      Rp.30.000
                    </td>
                    <td class="shoping__cart__quantity">
                      <div class="quantity">
                        <div class="pro-qty">
                          <input type="text" value="1" />
                        </div>
                      </div>
                    </td>
                    <td class="shoping__cart__total">
                      Rp.30.000
                    </td>
                    <td class="shoping__cart__item__close">
                      <span class="icon_close"></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="shoping__cart__item">
                      <img src="asset/img/featured/ayam-paha-bg-03.png" alt="" />
                      <h5>Paha ayam Mentah ayam australia</h5>
                    </td>
                    <td class="shoping__cart__price">
                      Rp.15.000
                    </td>
                    <td class="shoping__cart__quantity">
                      <div class="quantity">
                        <div class="pro-qty">
                          <input type="text" value="1" />
                        </div>
                      </div>
                    </td>
                    <td class="shoping__cart__total">
                      Rp.15.000
                    </td>
                    <td class="shoping__cart__item__close">
                      <span class="icon_close"></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="shoping__cart__item">
                      <img src="asset/img/featured/ayam-sayap-01-bg.png" alt="" />
                      <h5>Sayap Ayam Mentah India</h5>
                    </td>
                    <td class="shoping__cart__price">
                      Rp.10.000
                    </td>
                    <td class="shoping__cart__quantity">
                      <div class="quantity">
                        <div class="pro-qty">
                          <input type="text" value="2" />
                        </div>
                      </div>
                    </td>
                    <td class="shoping__cart__total">
                      Rp.20.000
                    </td>
                    <td class="shoping__cart__item__close">
                      <span class="icon_close"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="shoping__cart__btns">
              <a href="/home" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
              <a href="#" class="primary-btn cart-btn cart-btn-right"
                ><span class="icon_loading"></span> Update Cart</a
              >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="shoping__continue">
              <div class="shoping__discount">
                <h5>Discount Codes</h5>
                <form action="#">
                  <input type="text" placeholder="Enter your coupon code" />
                  <button type="submit" class="site-btn">APPLY COUPON</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="shoping__checkout">
              <h5>Cart Total</h5>
              <ul>
                <li>Subtotal <span>Rp.65.000</span></li>
                <li>Total <span>Rp.65.000</span></li>
              </ul>
              <a href="/checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
	import Header from '../components/Header.vue';
	export default {
		components:{
			Header : Header
		}
	};
</script>