<template>
	<div id="home">
		<Header></Header>
		<!-- Hero Section Begin -->
		<section class="hero">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="hero__categories">
							<div class="hero__categories__all">
								<i class="fa fa-bars"></i>
								<span>Kategori Ayam</span>
							</div>
							<ul>
								<li><a href="#">Ayam Potong Paha Atas</a></li>
								<li><a href="#">Ayam Potong Dada</a></li>
								<li><a href="#">Ayam Potong Paha Bawah</a></li>
								<li><a href="#">Ayam Potong Sayap</a></li>
								<li><a href="#">Kepala Ayam</a></li>
								<li><a href="#">Kaki Ayam</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="hero__search">
							<div class="hero__search__form">
								<form action="#">
									<div class="hero__search__categories">
										Semua Kategori
										<span class="arrow_carrot-down"></span>
										<!-- <div class="list-hero__search__categories">
											<ul>
												<li><a href="#">Ayam Potong Paha Atas</a></li>
												<li><a href="#">Ayam Potong Dada</a></li>
												<li><a href="#">Ayam Potong Paha Bawah</a></li>
												<li><a href="#">Ayam Potong Sayap</a></li>
												<li><a href="#">Kepala Ayam</a></li>
												<li><a href="#">Kaki Ayam</a></li>
											</ul>
										</div> -->
									</div>
									<input type="text" placeholder="What do yo u need?">
									<button type="submit" class="site-btn">SEARCH</button>
								</form>
							</div>
							<div class="hero__search__phone">
								<div class="hero__search__phone__icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="hero__search__phone__text">
									<h5>+62 8921920292</h5>
									<span>support 24/7 time</span>
								</div>
							</div>
						</div>
						<div class="hero__item set-bg" data-setbg="asset/img/hero/banner.jpg">
							<div class="hero__text">
								<span>Love Chicken</span>
								<h2>Ayam Potong <br />Segar</h2>
								<p>Gratis Dianter kemanapun..</p>
								<a href="#" class="primary-btn">Yuk Beli</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Hero Section End -->

		<!-- Categories Section Begin -->
		<section class="categories">
			<div class="container">
				<div class="row">
					<div class="categories__slider owl-carousel">
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="asset/img/featured/ayam-pilet-02-bg.png">
								<h5><a href="#">Ayam Fillet Segar</a></h5>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="asset/img/featured/ayam-paha-bg-02.png">
								<h5><a href="#">Paha Atas Ayam Negeri</a></h5>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="asset/img/featured/ayam-paha-bg-03.png">
								<h5><a href="#">Paha Bawah Ayam Negeri</a></h5>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="asset/img/featured/ayam-pilet-01-bg.png">
								<h5><a href="#">Ayam Fillet Dada</a></h5>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="asset/img/featured/ayam-utuh-02-bg.png">
								<h5><a href="#">Ayam Utuh</a></h5>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="asset/img/featured/ayam-sayap-01-bg.png">
								<h5><a href="#">Sayap Ayam</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Categories Section End -->

		<!-- Featured Section Begin -->
		<section class="featured spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Featured Product</h2>
						</div>
						<div class="featured__controls">
							<ul>
								<li class="active" data-filter="*">All</li>
								<li data-filter=".ayam-fillet">Ayam Fillet</li>
								<li data-filter=".ayam-utuh">Ayam Utuh</li>
								<li data-filter=".paha-ayam">Paha Ayam</li>
								<li data-filter=".sayap-ayam">Sayap Ayam</li>
								<li data-filter=".dada-ayam">Dada Ayam</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row featured__filter">
					<div class="col-lg-3 col-md-4 col-sm-6 mix ayam-fillet">
						<div class="featured__item">
							<div class="featured__item__pic set-bg"
								data-setbg="asset/img/featured/ayam-pilet-02-bg.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Ayam Fillet Segar</a></h6>
								<h5>Rp30.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix ayam-fillet">
						<div class="featured__item">
							<div class="featured__item__pic set-bg"
								data-setbg="asset/img/featured/ayam-pilet-01-bg.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="#">Ayam Fillet Dada</a></h6>
								<h5>Rp35.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix ayam-utuh">
						<div class="featured__item">
							<div class="featured__item__pic set-bg" data-setbg="asset/img/featured/ayam-utuh-02-bg.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Ayam Utuh Mentah Boiler</a></h6>
								<h5>Rp60.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix ayam-utuh">
						<div class="featured__item">
							<div class="featured__item__pic set-bg" data-setbg="asset/img/featured/ayam-utuh-bg.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Ayam Utuh Mentah</a></h6>
								<h5>Rp45.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat ayam-paha">
						<div class="featured__item">
							<div class="featured__item__pic set-bg" data-setbg="asset/img/featured/ayam-paha-bg-02.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Paha Ayam Mentah</a></h6>
								<h5>10.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix oranges ayam-paha">
						<div class="featured__item">
							<div class="featured__item__pic set-bg" data-setbg="asset/img/featured/ayam-paha-bg-03.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Paha ayam Mentah ayam australia</a></h6>
								<h5>Rp15.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix ayam-sayap">
						<div class="featured__item">
							<div class="featured__item__pic set-bg"
								data-setbg="asset/img/featured/ayam-sayap-01-bg.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Sayap Ayam Potong </a></h6>
								<h5>Rp8.000</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
						<div class="featured__item">
							<div class="featured__item__pic set-bg"
								data-setbg="asset/img/featured/ayam-sayap-02-bg.png">
								<ul class="featured__item__pic__hover">
									<li><router-link :to="{name:'cart'}"><i class="fa fa-shopping-cart"></i></router-link></li>
								</ul>
							</div>
							<div class="featured__item__text">
								<h6><a href="/detailproduct">Sayap Ayam Potong India</a></h6>
								<h5>Rp10.000</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Featured Section End -->

		<!-- Banner Begin -->
		<!-- <div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="banner__pic">
							<img src="asset/img/banner/banner-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="banner__pic">
							<img src="asset/img/banner/banner-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Banner End -->

		<!-- Latest Product Section Begin -->
		<!-- <section class="latest-product spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="latest-product__text">
							<h4>Latest Products</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="latest-product__text">
							<h4>Top Rated Products</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="latest-product__text">
							<h4>Review Products</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="asset/img/featured/feature-1.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Ayam Potong</h6>
											<span>Rp30.000</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- Latest Product Section End -->

		<!-- Blog Section Begin -->
		<!-- <section class="from-blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title from-blog__title">
							<h2>From The Blog</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic">
								<img src="asset/img/blog/blog-1.jpg" alt="">
							</div>
							<div class="blog__item__text">
								<ul>
									<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
									<li><i class="fa fa-comment-o"></i> 5</li>
								</ul>
								<h5><a href="#">Cooking tips make cooking simple</a></h5>
								<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic">
								<img src="asset/img/blog/blog-2.jpg" alt="">
							</div>
							<div class="blog__item__text">
								<ul>
									<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
									<li><i class="fa fa-comment-o"></i> 5</li>
								</ul>
								<h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
								<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic">
								<img src="asset/img/blog/blog-3.jpg" alt="">
							</div>
							<div class="blog__item__text">
								<ul>
									<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
									<li><i class="fa fa-comment-o"></i> 5</li>
								</ul>
								<h5><a href="#">Visit the clean farm in the US</a></h5>
								<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- Blog Section End -->
	</div>
</template>
<script>
	import Header from '../components/Header.vue';
	import ModalResult from '../components/PopupResult';
	export default {
		components:{
			Header : Header,
			"modal-result": ModalResult
		},
	  methods: {
		  callResult() {
			  $('#modal-result').modal('show');
		  }
	  },
	  mounted() {
		setTimeout(() => {
			this.callResult();
		}, 1000);
	  }
	};
</script>