<style>
#invoiceholder h1{
  font-size: 1.5em;
  color: #222;
  text-align: right;
}
#invoiceholder h2{font-size: .9em;font-weight: 600;}
#invoiceholder h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
#invoiceholder p{
  font-size: .7em;
  color: #666;
  line-height: 1.5em;
}

#invoiceholder{
  width:100%;
  height: 100%;
  padding-top: 50px;
}
#invoiceholder #headerimage{
  z-index:-1;
  position:relative;
  top: -50px;
  height: 350px;
  background: url("../../public/img/banner/bg-login.jpg") 0% 0% / cover repeat;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
  overflow:hidden;
  background-attachment: fixed;
  background-size: auto 80%;
  background-position: 50% -90%;
}
#invoice{
  position: relative;
  top: -290px;
  margin: 0 auto;
  width: 700px;
  background: #FFF;
}

[id*='invoice-']{ /* Targets all id with 'col-' */
  border-bottom: 1px solid #EEE;
  padding: 30px;
}

#invoice-top{min-height: 120px;}
#invoice-mid{min-height: 120px;}
#invoice-bot{ min-height: 250px;}

#invoiceholder .logo{
    float: left;
    height: 70px;
    width: 70px;
    background: url('../../public/asset/img/logo.png') no-repeat;
    background-size: cover;
    position: relative;
    top: -10px;
}
#invoiceholder .clientlogo{
  float: left;
    height: 60px;
    width: 60px;
	/* background: url(http://michaeltruong.ca/images/client.jpg) no-repeat; */
	background-size: 60px 60px;
  border-radius: 50px;
}
#invoiceholder .info{
  display: block;
  float:left;
  margin-left: 20px;
}
#invoiceholder .title{
  float: right;
}
#invoiceholder .title p{text-align: right;}
#invoiceholder #project{margin-left: 52%;}
#invoiceholder table{
  width: 100%;
  border-collapse: collapse;
}
#invoiceholder td{
  padding: 5px 10px;
  border: 1px solid #EEE
}
#invoiceholder .tabletitle{
  padding: 5px;
  background: #EEE;
}
#invoiceholder .service{border: 1px solid #EEE;}
#invoiceholder .item{width: 50%;}
#invoiceholder .itemtext{font-size: .9em;margin:0px;}

#invoiceholder #legalcopy{
  margin-top: 30px;
}
#invoiceholder form{
  float:right;
  margin-top: 30px;
  text-align: right;
}

#invoiceholder .effect2
{
  position: relative;
}
#invoiceholder .effect2:before, #invoiceholder .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#invoiceholder .effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
p.itemcount {
    margin: 0;
    font-weight: 600;
    text-align: center;
    font-size: 14px !important;
}
#invoiceholder .legal{
  width:70%;
}
button.btn.btn-print-custom {
    float: right;
    margin-top: 30px;
    background: #fdc339;
    border: 2px solid #ffce7d;
    color: aliceblue;
}
</style>
<template>
    <div id="invoiceholder">

        <div id="headerimage"></div>
        <div id="invoice" class="effect2" style="top: -290px;margin: 0 auto;width: 700px;background: #FFF;">
            <div id="invoice-top" style="min-height: 120px;border-bottom: 1px solid #EEE;padding: 30px;">
                <div class="logo" style="float: left;height: 70px;width: 70px;background-size: cover;position: relative;top: -10px;">
                    <img v-bind:src="'img/logo.bcd2deb9.png'" alt="" style="width:70px;">
                </div>
                <div class="info" style="display: block;float: left;margin-left: 20px;">
                    <h2 style="font-size: .9em;font-weight: 600;">Love Chicken</h2>
                    <p style="font-size: .7em;color: #666;line-height: 1.5em;">info@lovechicken.com <br>
                        +62 8921920292
                    </p>
                </div>
                <!--End Info-->
                <div class="title" style="float:right;">
                    <h1 style="font-size: 1.5em;color: #222;text-align: right;">Invoice #1069</h1>
                    <p style="text-align: right;font-size: .7em;color: #666;line-height: 1.5em;">Order Date &nbsp;:&nbsp; 01 August 2020<br>
                        Payment Date&nbsp;: 01 August 2020
                    </p>
                </div>
                <!--End Title-->
            </div>
            <!--End InvoiceTop-->



            <div id="invoice-mid" style="min-height: 120px;border-bottom: 1px solid #EEE;padding: 30px;">

                <div class="clientlogo" style="float: left;height: 60px;width: 60px;background-size: 60px 60px;border-radius: 50px;">
                    <img v-bind:src="'asset/img/client.jpg'" alt="" style="width:60px;border-radius:50%;">
                </div>
                <div class="info" style="display: block;float: left;margin-left: 20px;">
                    <h2 style="font-size: .9em;font-weight: 600;">Rini</h2>
                    <p style="font-size: .7em;color: #666;line-height: 1.5em;font-weight:400;font-family: 'Cairo', sans-serif;">Rini@gmail.com<br>
                    081223098349</p>
                </div>

                <div id="project" style="margin-left: 52%;">
                    <h2 style="font-size: .9em;font-weight: 600;margin: 0;color: #111111;">Address</h2>
                    <p style="font-size: .7em;color: #666;line-height: 1.5em;font-weight:400;font-family: 'Cairo', sans-serif;">Jl. Rajawali Timur No.83/78 Gg. Sastra RT03 RW07 Kel.Andir Kec.Ciroyom, 40218 Bandung Jawa Barat</p>
                </div>

            </div>
            <!--End Invoice Mid-->

            <div id="invoice-bot" style="min-height: 250px;border-bottom: 1px solid #EEE;padding: 30px;margin: 0;">
                <div id="table">
                    <table style="width: 100%;border-collapse: collapse;">
                        <tr class="tabletitle" style="padding: 5px;background: #EEE;background-color: #EEE;">
                            <td class="count" style="padding: 5px 10px;border: 1px solid #EEE;">
                                <h2 style="font-size: .9em;font-weight: 600;margin: 0;color: #111111;">#</h2>
                            </td>
                            <td class="item" style="padding: 5px 10px;border: 1px solid #EEE;width:50%">
                                <h2 style="font-size: .9em;font-weight: 600;margin: 0;color: #111111;">Item</h2>
                            </td>
                            <td class="text-center" style="text-align:center;padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <h2 style="font-size: .9em;font-weight: 600;margin: 0;color: #111111;">Qty</h2>
                            </td>
                            <td class="Rate" style="border: 1px solid #EEE;margin:0px;padding: 5px 10px;">
                                <h2 style="font-size: .9em;font-weight: 600;margin: 0;color: #111111;">Price</h2>
                            </td>
                            <td class="subtotal" style="border: 1px solid #EEE;margin:0px;padding: 5px 10px;">
                                <h2 style="font-size: .9em;font-weight: 600;margin: 0;color: #111111;">Sub-total</h2>
                            </td>
                        </tr>

                        <tr class="service" style="border: 1px solid #EEE;">
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemcount" style="margin: 0;font-weight: 600;text-align: center;font-size: 14px !important;color: #666;line-height: 1.5em;">1</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Ayam Boiler utuh</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext text-center"  style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">5</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 3000</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 15.000</p>
                            </td>
                        </tr>
                        <tr class="service" style="border: 1px solid #EEE;">
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemcount" style="margin: 0;font-weight: 600;text-align: center;font-size: 14px !important;color: #666;line-height: 1.5em;">2</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Ayam Boiler utuh</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext text-center"  style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">5</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 3000</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 15.000</p>
                            </td>
                        </tr>
                        <tr class="service" style="border: 1px solid #EEE;">
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemcount" style="margin: 0;font-weight: 600;text-align: center;font-size: 14px !important;color: #666;line-height: 1.5em;">3</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Ayam Boiler utuh</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext text-center"  style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">5</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 3000</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 15.000</p>
                            </td>
                        </tr>
                        <tr class="service" style="border: 1px solid #EEE;">
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemcount" style="margin: 0;font-weight: 600;text-align: center;font-size: 14px !important;color: #666;line-height: 1.5em;">4</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Ayam Boiler utuh</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext text-center"  style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">5</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 3000</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 15.000</p>
                            </td>
                        </tr>
                        <tr class="service" style="border: 1px solid #EEE;">
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemcount" style="margin: 0;font-weight: 600;text-align: center;font-size: 14px !important;color: #666;line-height: 1.5em;">5</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Ayam Boiler utuh</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext text-center"  style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">5</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 3000</p>
                            </td>
                            <td class="tableitem" style="padding: 5px 10px;border: 1px solid #EEE;margin:0;">
                                <p class="itemtext" style="color: #666;line-height: 1.5em;font-size: .9em;margin: 0px;">Rp. 15.000</p>
                            </td>
                        </tr>


                        <tr class="tabletitle" style="padding: 5px;background: #EEE;margin:0px;background-color:#EEE;">
                            <td style="padding: 5px 10px;border: 1px solid #EEE;margin:0px;" ></td>
                            <td style="padding: 5px 10px;border: 1px solid #EEE;margin:0px;" ></td>
                            <td style="padding: 5px 10px;border: 1px solid #EEE;margin:0px;" ></td>
                            <td style="padding: 5px 10px;border: 1px solid #EEE;margin:0px;" class="Rate">
                                <h2 style="font-size: .9em;">Total</h2>
                            </td>
                            <td style="padding: 5px 10px;border: 1px solid #EEE;" class="payment">
                                <h2 style="font-weight: 600;">Rp. 300.000</h2>
                            </td>
                        </tr>

                    </table>
                </div>
                <!--End Table-->

                <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="QRZ7QTM9XRPJ6">
                    <input type="image" src="http://michaeltruong.ca/images/paypal.png" border="0" name="submit"
                        alt="PayPal - The safer, easier way to pay online!">
                </form> -->
                <button class="btn btn-print-custom" @click="print()" style="float: right;margin-top: 30px;background: #fdc339;border: 2px solid #ffce7d;color: aliceblue;">
                    <i class="fa fa-print"></i>
                    Print Invoice</button>


                <div id="legalcopy" style="margin-top: 30px;padding:0px;">
                    <p style="width:70%;font-size: .7em;color: #666;line-height: 1.5em;" class="legal"><strong style="font-weight: bolder;">Thank you for your business!</strong>  Payment is expected within 31 days;
                        please process this invoice within that time. There will be a 5% interest charge per month on
                        late invoices.
                    </p>
                </div>

            </div>
            <!--End InvoiceBot-->
        </div>
        <!--End Invoice-->
    </div>
    <!-- End Invoice Holder-->
</template>
<script>
export default {
    data() {
        return {

        }
    },
    methods: {
        print () {
            // Pass the element id here
            this.$htmlToPaper('invoice');
        }
    }
}
</script>