<template>
    <div>
    <Header></Header>
        <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Order List</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">No</th>
                            <th scope="col">Kode Order</th>
                            <th scope="col">Nama Pelanggan</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status Pesanan</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                                <td>20200801</td>
                                <td>Buzz Lightyear</td>
                                <td>Rp.12000</td>
                                <td><span class="badge badge-warning">In Process</span></td>
                                <td>01-08-2020</td>
                                <td>
                                    <button class="btn btn-sm btn-warning mr-2" @click="showEdit();"><i class="fa fa-pencil-square-o"></i></button>
                                    <!-- <button class="btn btn-sm btn-primary">Detail</button> -->
                                </td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                                <td>20200802</td>
                                <td>Patrick Star</td>
                                <td>Rp.20000</td>
                                <td><span class="badge badge-danger">Rejected</span></td>
                                <td>02-08-2020</td>
                                <td>
                                    <button class="btn btn-sm btn-warning mr-2" @click="showEdit();"><i class="fa fa-pencil-square-o"></i></button>
                                    <!-- <button class="btn btn-sm btn-primary">Detail</button> -->
                                </td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <!-- modal -->
    <div class="modal fade" id="modal-status" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Order 20200801</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">Nama Pelanggan</div>
                    <div class="col-1">:</div>
                    <div class="col-7">Buzz Lightyear</div>
                </div>
                <div class="row">
                    <div class="col-4">Total Belanja</div>
                    <div class="col-1">:</div>
                    <div class="col-7">Rp. 12000</div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex align-items-center">Status</div>
                    <div class="col-1 d-flex align-items-center">:</div>
                    <div class="col-7 d-flex align-items-center" id="status_change">
                        <select name="" id="" class="form-control">
                            <option value="inprocess" selected>Process</option>
                            <option value="inprocess">Reject</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-sm text-white btn-danger" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-sm text-white btn-primary">Update</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
	import Header from '../components/Header.vue';
	export default {
		components:{
			Header : Header
        },
        methods: {
            showEdit() {
                $('#modal-status').modal('show');
            }
        }
	};
</script>
<style>
#status_change .nice-select{
    padding: 0px 5px;
    width: 100%;
}
</style>