<template>
  <div>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
      <div class="humberger__menu__logo">
        <a href="#"><img src="asset/img/logo.png" alt=""/></a>
      </div>
      <div class="humberger__menu__cart">
        <ul>
          <li>
            <a href="/cart"
              ><i class="fa fa-shopping-bag"></i> <span>3</span></a
            >
          </li>
        </ul>
        <div class="header__cart__price">item: <span>Rp20.000</span></div>
      </div>
      <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
          <router-link :to="{name:'login'}"><i class="fa fa-user"></i> Login</router-link>
          <router-link :to="{name:'home'}"><i class="fa fa-home"></i> Home</router-link>
          <!-- <router-link :to="{name:''}"><i class="fa fa-phone"></i> Contact</router-link> -->
          <router-link :to="{name:'orderlist'}"><i class="fa fa-list"></i> Order List</router-link>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="header__top__right__social d-none">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
      </div>
      <div class="humberger__menu__contact"></div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-center p-0">
              <div class="header__top__left">
                <ul>
                  <li><i class="fa fa-envelope"></i> info@lovechicken.com</li>
                  <li>Free Shipping for all Order of Rp.150.000</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-end p-0">
              <div class="header__top__right">
                <div class="header__top__right__auth">
                  <a href="/"><i class="fa fa-user"></i> Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-1">
            <div class="header__logo">
              <router-link :to="{name: 'home'}"><img src="asset/img/logo.png" alt=""/></router-link>
            </div>
          </div>
          <div class="col-lg-8">
            <nav class="header__menu">
              <ul>
                <li :class="`${$route.name=='home'?'active':''}`"><a href="/home">Home</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li :class="`${$route.name=='orderlist'?'active':''}`"><a href="/orderlist">Order List</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__cart">
              <ul>
                <li>
                  <a href="/cart"
                    ><i class="fa fa-shopping-bag"></i> <span>3</span></a
                  >
                </li>
              </ul>
              <div class="header__cart__price">item: <span>Rp20.000</span></div>
            </div>
          </div>
        </div>
        <div class="humberger__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->
  </div>
</template>
