<style>
    #title_popup{
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;
    }
    .border-right{
        border-right: 1px solid gray;
        position: relative;
    }
    .col-6.border-right:after{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #2dd253;
        right: -5px;
        top: -10px;
        border-radius: 100%;
        opacity: 0.5;
    }
    
    .col-6.border-right:before{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #2dd253;
        right: -5px;
        bottom: -10px;
        border-radius: 100%;
        opacity: 0.5;
    }
    .sub-header {
        display: inline-block;
        min-height: 34px;
        display: inline-flex;
        align-items: center;
        min-width: 200px;
        background: #e74c3c;
        color: #fff;
        padding: 2px 10px;
        border-radius: 2px 2px 30px 2px;
        margin-bottom: 25px;
    }
    h5.title2 {
        display: inline-flex;
        width: 135px;
        justify-content: center;
        margin-top: 25px !important;
        margin-bottom: 15px !important;
        margin: 0 auto;
        background: #2dd253;
        color: #fff;
        height: 34px;
        align-items: center;
        border-radius: 30px;
        border: 3px solid #aaf9bc;
        letter-spacing: 1px;
    }
    div#grafik-wrapper {
        display: flex;
        flex-direction: column;
    }
    #chartdiv {
        width: 100%;
        height: 350px;
    }

</style>
<template>
    <!-- Modal -->
    <div class="modal fade" id="modal-result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:1300px">
        <div class="modal-content">
        <div class="modal-header" style="border-bottom:none;">
            <h5 class="modal-title" id="title_popup">Hasil Test</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6 border-right">
                    <div class="sub-header" style="background: #FFA500;">Micro Service</div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Respon</th>
                                <th scope="col">Latency</th>
                                <th scope="col">Date Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>1</td>
                                <td>0.3s</td>
                                <td>01-08-2020 20:39:00</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>3</td>
                                <td>1.00s</td>
                                <td>01-08-2020 20:40:00</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>50</td>
                                <td>5.00s</td>
                                <td>01-08-2020 20:45:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <div class="sub-header" style="background:#3700FE">Monolid</div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Respon</th>
                                <th scope="col">Latency</th>
                                <th scope="col">Date Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>1</td>
                                <td>2.00s</td>
                                <td>01-08-2020 20:39:00</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>3</td>
                                <td>4.30s</td>
                                <td>01-08-2020 20:40:00</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>50</td>
                                <td>7.35s</td>
                                <td>01-08-2020 20:45:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" id="grafik-wrapper">
                <h5 class="title2">Grafik</h5>
                <div id="chartdiv"></div>
            </div>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";
export default {
    data() {
        return{
            
        }
    },
    methods: {

    },
    mounted() {
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart);

            // Add data
            chart.data = [{
            "date": "2012-07-27",
            "value": 13,
            "value2": 15
            }, {
            "date": "2012-10-11",
            "value": 33,
            "value2": 28
            }, {
            "date": "2013-01-30",
            "value": 81,
            "value2": 90
            }];

            // Set input format for the dates
            chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.min = 0;
            valueAxis.max = 100;

            // Create series
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value";
            series.dataFields.dateX = "date";
            series.tooltipText = "{value}"
            series.strokeWidth = 2;
            series.minBulletDistance = 15;
            series.propertyFields.stroke = "#FFA500";
            series.propertyFields.fill = "#FFA500";
            series.stroke = am4core.color("#FFA500"); 

            
            var series2 = chart.series.push(new am4charts.LineSeries());
            series2.dataFields.valueY = "value2";
            series2.dataFields.dateX = "date";
            series2.tooltipText = "{value2}"
            series2.strokeWidth = 2;
            series2.minBulletDistance = 15;
            series2.propertyFields.stroke = "#3700FE";
            series2.propertyFields.fill = "#3700FE";
            series2.stroke = am4core.color("#3700FE"); 

            // Drop-shaped tooltips
            series.tooltip.background.cornerRadius = 20;
            series.tooltip.background.strokeOpacity = 0;
            series.tooltip.pointerOrientation = "vertical";
            series.tooltip.label.minWidth = 40;
            series.tooltip.label.minHeight = 40;
            series.tooltip.label.textAlign = "middle";
            series.tooltip.label.textValign = "middle";
            
            series2.tooltip.background.cornerRadius = 20;
            series2.tooltip.background.strokeOpacity = 0;
            series2.tooltip.pointerOrientation = "vertical";
            series2.tooltip.label.minWidth = 40;
            series2.tooltip.label.minHeight = 40;
            series2.tooltip.label.textAlign = "middle";
            series2.tooltip.label.textValign = "middle";

            // Make bullets grow on hover
            var bullet = series.bullets.push(new am4charts.CircleBullet());
            bullet.circle.strokeWidth = 2;
            bullet.circle.radius = 4;
            bullet.circle.fill = am4core.color("#fff");

            var bullethover = bullet.states.create("hover");
            bullethover.properties.scale = 1.3;
            
            var bullet2 = series2.bullets.push(new am4charts.CircleBullet());
            bullet2.circle.strokeWidth = 2;
            bullet2.circle.radius = 4;
            bullet2.circle.fill = am4core.color("#fff");

            var bullethover2 = bullet.states.create("hover");
            bullethover2.properties.scale = 1.3;

            // Make a panning cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.behavior = "panXY";
            chart.cursor.xAxis = dateAxis;
            // chart.cursor.snapToSeries = series;

            // Create vertical scrollbar and place it before the value axis
            chart.scrollbarY = new am4core.Scrollbar();
            chart.scrollbarY.parent = chart.leftAxesContainer;
            chart.scrollbarY.toBack();

            // Create a horizontal scrollbar with previe and place it underneath the date axis
            chart.scrollbarX = new am4charts.XYChartScrollbar();
            chart.scrollbarX.series.push(series);
            chart.scrollbarX.parent = chart.bottomAxesContainer;


            }); // end am4core.ready()
    }
}
</script>